# Create a Postgres database on Vercel: https://vercel.com/postgres
POSTGRES_URL=postgresql://han:@localhost/hytebackend_development
POSTGRES_PRISMA_URL=postgresql://han:@localhost/hytebackend_development
POSTGRES_URL_NON_POOLING=postgresql://han:@localhost/hytebackend_development
POSTGRES_USER=han
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=
POSTGRES_DATABASE=hytebackend_development

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=db99dd1480210850257f40a5f85c30a7
